{{#if resume.languages.length}}
<section id="languages">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<h2>Languages</h2>
			{{#each resume.languages}}
			<div class="item">
				{{#if language}}
				<div class="language">
					{{language}}
				</div>
				{{/if}}
				{{#if fluency}}
				<div class="fluency">
					<em>{{fluency}}</em>
				</div>
				{{/if}}
			</div>
			{{/each}}
		</div>
	</div>
</section>
{{/if}}
