{{#if resume.references.length}}
<section id="references">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<h2>References</h2>
			{{#each resume.references}}
			<div class="item">
				{{#if reference}}
				<blockquote class="reference">
					{{reference}}
				</blockquote>
				{{/if}}
				{{#if name}}
				<div class="name">
					— {{name}}
				</div>
				{{/if}}
			</div>
			{{/each}}
		</div>
	</div>
</section>
{{/if}}
